<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title"><%= @stylist.first_name() %> <%= @stylist.last_name() %> &mdash; <%= @stylist.phone() %></h4>
  </div>

  <div class="panel-body">
    <h4>Clients:</h4>
  </div>

  <table class="table table-hover">
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone Number</th>
      <th>Stylist</th>
      <th>Update</th>
    </tr>

    <tr>
      <form action="/clients" method="post">
          <td><input required type="text" class="form-control" name="first_name" placeholder="First Name"></td>
          <td><input type="text" class="form-control" name="last_name" placeholder="Last Name"></td>
          <td><input type="text" class="form-control" name="phone" placeholder="###-###-####"></td>
          <td><input type="text" class="form-control" name="stylist_id" value="<%= @stylist.id() %>"></td>
          <td><button type="submit" class="btn btn-default">Add</button></td>
      </form>
    </tr>


    <% @clients.each() do |client| %>
      <tr>
        <td><%= client.first_name() %></td>
        <td><%= client.last_name() %></td>
        <td><%= client.phone() %></td>
        <td>
          <% if client.stylist_id().nil? %>
            NONE
          <% else %>
            <%= client.stylist().first_name() %></td>
          <% end %>
        <td></td>
      </tr>
    <% end %>
  </div>
</div>
